@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: rgb(25, 26, 28);
}
.cart-bg {
    background: rgb(36, 37, 41);
}
.cart-p {
    padding: 15px 20px;
}
.btn-buy {
    background: rgb(85,88, 237);
}
.genre {
    background: rgb(80, 82, 84);
    padding: 3px 5px;
    font-size: 13px;
}
.cart-menu {
    background: rgb(36,37,41);
    padding: 10px 20px;
    width: 300px;
    z-index: 2;
}